<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Pizza</title>
</head>
	<body>
		<h1 class="text-danger text-center">Menu</h1>
		<ul th:if="${menu.size() > 0}">
			<li th:each="pizza : ${menu}">
				<div class="container">
					<div class="row">
						<div th:text="${pizza.nome}" class="text-dark fs-2 col"></div>
						<div th:text="|${pizza.prezzo} €|" class=" col text-dark fs-2 text-end"></div>		
					</div>
				</div>
			</li>
		</ul >
		<div class="alert alert-primary" role="alert" th:unless="${menu.size() > 0}">
			  The menu is empty
		</div>
		
		
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>